.about {
  position: relative;
  padding: 59px 0 96px;

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 35px 0 78px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 0 0 80px;
  }
}

.about__image img {
  width: 146px;
  height: 324px;

  @media (max-width: ($vp-768 - 1px)) {
    display: none;
  }
}

.about__box {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 50px;

  @media (max-width: ($vp-1024 - 1px)) {
    grid-template-columns: 175px 1fr;
    gap: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    margin: 0;
    grid-template-columns: 1fr;
  }
}

.about h3 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-deep-pearl;
  padding-bottom: 12px;

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 28px;
    line-height: 140.62%;
    padding-bottom: 9px;
  }
}

.about p {
  margin: 0;
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-deep-pearl;
  padding-bottom: 20px;

  @media (max-width: ($vp-1024 - 1px)) {
    padding-bottom: 18px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about__button {
  min-width: 180px;
  display: inline-block;
  padding: 13px 13px 14px 12px;
  border: 1px solid $color-deep-sky-blue;
  background-color: $color-default-white;
  color: $color-deep-sky-blue;
  border-radius: 3px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 18px;
  user-select: none;

  @include hover-focus {
    border: 1px solid $color-deep-sky-blue-light;
    background-color: $color-deep-sky-blue-light;
    color: $color-alice-blue;
  }

  @include active {
    background-color: $color-deep-sky-blue-dark;
    border: 1px solid $color-deep-sky-blue-dark;
    color: $color-alice-blue;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    margin-top: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    min-width: 161px;
    max-height: 35px;
    padding: 6px 13px 9px 12px;
  }
}

.about__hidden {
  @media (max-width: ($vp-768 - 1px)) {
    display: none;
  }
}
