.accordion {
  display: grid;
  margin-top: 7px;
  margin-left: 14px;

  @media (max-width: ($vp-1920 - 1px)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    margin: 0;
    padding-bottom: 55px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    display: block;
    max-width: 767px;
    padding: 0;
    margin: 0 auto 50px auto;
  }

  &__link {
    @include hover-focus {
      opacity: 0.7;
    }

    @include active {
      opacity: 0.5;
    }
  }

  & & {
    @media (max-width: ($vp-768 - 1px)) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__content {
    display: grid;
    overflow: visible;
    min-height: 180px;
    min-width: 406px;

    @media (max-width: ($vp-1920 - 1px)) {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 233px;
    }

    @media (max-width: ($vp-768 - 1px)) {
      display: block;
      min-height: 0;
      overflow: hidden;
    }
  }

  &__element {
    &--adress {
      grid-column: 2/3;
      margin-left: 95px;

      @media (max-width: ($vp-1920 - 1px)) {
        margin-left: 0;
      }
    }
  }

  &__element:last-child {
    @media (max-width: ($vp-768 - 1px)) {
      margin-bottom: 0;
    }
  }

  &__element.is-active {
    @media (max-width: ($vp-768 - 1px)) {
      padding: 11px 0;
      border-bottom: 1px solid $color-white-transparent;
    }
  }

  &__element.is-active > &__button {
    @media (max-width: ($vp-768 - 1px)) {
      opacity: 0.7;
      border-bottom: none;

      &::before,
      &::after {
        transform: rotate(540deg);
        transition: all 1s ease-out;
      }
    }
  }

  &__element h3 {
    color: $color-default-white;
    font-family: $ff-roboto-condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;

    @media (max-width: ($vp-768 - 1px)) {
      position: absolute;
      left: 24px;
      padding-top: 25px;
    }
  }

  &__button {
    display: none;

    @media (max-width: ($vp-768 - 1px)) {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 25px 25px;
      border: 1px solid $color-white-transparent;
      border-left: none;
      border-right: none;
      background-color: transparent;
      text-transform: uppercase;
      color: $color-default-white;
      cursor: pointer;
      text-align: left;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 107%;
      letter-spacing: 0.05em;

      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 1px;
        right: 26px;
        bottom: 21px;
        background-color: $color-default-white;
      }

      &::before {
        transform: rotate(90deg);
      }

      &--active {
        border-bottom: none;
      }
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    max-width: 220px;

    @media (max-width: ($vp-768 - 1px)) {
      margin-left: 25px;
    }

    &--second {
      grid-column: 2/2;
    }

    &--contacts {
      min-width: 330px;
      padding-left: 10px;

      @media (max-width: ($vp-768 - 1px)) {
        padding-left: 0;
      }
    }
  }

  &__item p {
    color: $color-white-transparent;
    padding-bottom: 6px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    @media (max-width: ($vp-768 - 1px)) {
      line-height: 135%;
      padding-bottom: 22px;
      max-width: 279px;
    }
  }

  &__item a {
    color: $color-white-transparent;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    padding-bottom: 4.5px;
    display: block;

    @media (max-width: ($vp-768 - 1px)) {
      font-weight: 400;
      font-size: 14px;
      line-height: 179%;
    }
  }
}
