.footer {
  background-color: $color-deep-pearl;
  padding: 55px 310px 30px;
  padding: 0;

  @media (max-width: ($vp-1920 - 1px)) {
    padding: 0;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 50px 350px;
  margin: 0 auto;

  @media (max-width: ($vp-1920 - 1px)) {
    display: inline-block;
    padding: 0;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 0;
  }
}

.footer__box {
  @media (max-width: ($vp-1920 - 1px)) {
    display: flex;
    flex-direction: column;
  }
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__item {
  padding-bottom: 10px;
}

.footer__item a {
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $color-white-transparent;

  @media (max-width: ($vp-1920 - 1px)) {
    line-height: 156%;
  }

  @media (max-width: ($vp-768 - 1px)) {
    line-height: 107%;
  }
}

.footer__adress {
  margin: 0;
  padding: 0;

  @media (max-width: ($vp-1920 - 1px)) {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }
}

.footer__contacts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item p {
  margin: 0;
  color: $color-white-transparent;
  line-height: 135%;
  width: 345px;

  @media (max-width: ($vp-1920 - 1px)) {
    width: 100%;
  }
}

.footer__nav {
  @media (max-width: ($vp-1920 - 1px)) {
    grid-column: 1/2;
  }
}
