.main-wrapper {
  width: 100%;
  background-color: $color-deep-sky-blue-two;
  background-image: linear-gradient(139deg, rgba(4, 24, 39, 0.5) 33.7%, #00b3ff 33.7% 100%);

  @media (max-width: ($vp-1024 - 1px)) {
    background-image: none;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
